<template>
  <div id="airbnb" class="row">
    <div class="col-md-3 col-sm-3"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h1 class="text-center">Creating a beautiful website from your Airbnb listing in under 3 minutes</h1>
      <div class="row">
        <div class="col-md-3"></div>
          <form v-on:submit.prevent="createSite" class="col-md-6">        
            <div class="row">
              <div>
                <div class="form-group">
                  <input type="text" placeholder="Airbnb Listing ID" class="form-control input-lg" v-model="user._id">
                </div>
              </div>
            </div>
            <div class="row">
              <div>
                <div class="form-group">
                  <input type="text" placeholder="Villa Name" class="form-control input-lg" v-model="user.villa">
                </div>
              </div>
            </div>
            <div class="row">
              <div>
                <div class="form-group">
                  <input type="text" placeholder="Email Address" class="form-control input-lg" v-model="user.email">
                </div>
              </div>
            </div>
            <div class="row">
            	<!-- <div class="g-recaptcha" :data-sitekey="rcapt_sig_key"></div> -->
            </div>
            
            <div class="row">
              <div class="form-group">
                <button class="btn btn-lg">Create Website</button>
              </div>
            </div>
          </form>
        <div class="col-md-3"></div>  
      </div>
      <p class="footer-txt">Airbnb is a trademark of. villaboss is not affiliated with Airbnb</p>       
    </div>    
    <div class="col-md-3 col-sm-3"></div>    
  </div>
  <!-- <div class="col-md-3"></div> -->
</template>
<style>
  #airbnb{
    margin-top: 150px;
  }
  .btn{
    background: #B8E986;
	width: 100%;
	font-weight: 700;
  }
  .footer-txt{
    text-align: center;
    margin-top: 150px;
  }
</style>

<script>
  export default {
    data(){
        return{
			user:{
				_id: '',
				villa: '',
				email: ''
				
				// rcapt_sig_key: "6LcBYUkUAAAAAPQOEaQlbSfGZbIYjgsES2Lr416S",
				// rcapt_id: 0 // will be used later
			}
        }
	},
	// mounted() {
	// 	if (window.grecaptcha) {
	// 		this.rcapt_id = grecaptcha.render( $('.g-recaptcha')[0], { sitekey : this.rcapt_sig_key });
	// 	}
	// },
    methods: {
		createSite(){
			let uri = 'http://localhost:4000/users/create';        
			this.axios.post(uri, this.user).then((response) => {
				console.log(response);
			});
		}
    }
  }
	
</script>
